<div id="container" class="clearfix">

    <h2>Simple Weather</h2>

    <div id="loader"><%= image_tag "loader.svg" %></div>

    <header class="clearfix">
        <p id=local_adress><span></span>の天気</p>
    </header>

    <section class="clearfix">
        <div id="current_weather" class="weather_wrap">
            <p class="title"><%= @now %></p>

            <div class="desc_wrap">
                <div class="desc_inner_l">
                    <p class="ico"></p>
                </div>
                <div class="desc_inner_r">
                    <p class="desc"></p>
                    <div class="list">
                        <p class="temp"><span></span>°C</p>
                    </div>
                </div>
            </div>
        </div>

        <div id="today_weather" class="weather_wrap">
            <p class="title"><%= @today %></p>

            <div class="desc_wrap">
                <div class="desc_inner_l">
                    <p class="ico"></p>
                </div>
                <div class="desc_inner_r">
                    <p class="desc"></p>
                    <div class="list">
                        <p class="max_temp"><span></span>°C</p>
                        <p class="min_temp"><span></span>°C</p>
                    </div>
                </div>
            </div>
        </div>

        <div id="tomorrow_weather" class="weather_wrap">
            <p class="title"><%= @tomorrow %></p>

            <div class="desc_wrap">
                <div class="desc_inner_l">
                    <p class="ico"></p>
                </div>
                <div class="desc_inner_r">
                    <p class="desc"></p>
                    <div class="list">
                        <p class="max_temp"><span></span>°C</p>
                        <p class="min_temp"><span></span>°C</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>